.slide
{
 height: 100%;
 width: 100%;
 left: 0;
 top: 0;
 overflow: hidden;
 position: fixed;
 background-color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}

.card50
{
 max-height: 50%;
 max-width: 20%;
}

.card
{
 height: 100%;
}
